<div class="img-backdrop" style=" background: linear-gradient(rgba(13, 60, 85, 0.8), rgba(13, 60, 85, 0.8)), url('../../../assets/img/img16.jpg');">
  <div class="section-body">
    <div class="row padding-bottom-xxl">
      <div class="">
        <h1 class="text-center">SkillsCub</h1>
        <p class="lead">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu metus volutpat, congue magna at, interdum enim. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vivamus feugiat facilisis ipsum, sed blandit velit. Mauris eu lobortis lorem. Vivamus varius eu magna a ullamcorper. Aenean sed turpis purus. Curabitur in diam quam. Sed at libero magna. Maecenas pharetra ornare diam, vitae interdum eros mollis in.
        </p>

      </div>
      <div >
        <a mat-button>Подать заявку</a>
      </div>
    </div>
  </div>
</div>


