<section class="full-width_section_light">
  <mat-card class="card-big">
    <mat-card-header>
      <mat-card-title>Контакты</mat-card-title>
      <mat-card-subtitle>
        Для того, чтобы связаться с нами, воспользуйтесь любым из доступных каналов связи. Мы рады помочь Вам по любым
        интересующим вопросам!
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        <mat-list-item>
          <button (click)="onClick" mat-button>+375 (25) 918 70 62</button>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <button (click)="onClick" mat-button="">skillscub@gmail.com</button>
        </mat-list-item>
      </mat-list>
      <div style="height: 444px;">
      </div>
    </mat-card-content>
  </mat-card>
</section>
