<section class="full-width_section_light">
  <mat-card class="card-big">
    <mat-card-header >
      <mat-card-title>
        О SKILLSCUB
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        Симулятор профессий SkillsCub™ – это система заданий, которая имитирует реальную работу в конкретной профессии.
        SkillsCub™ включает в себя <b>профориентацию</b> (выявление склонностей личности к определённому роду
        профессиональной деятельности), <b>анализ сильных и слабых сторон человека</b> в выбранной специальности и <b>рекомендации</b>
        по дальнейшему обучению. Это уникальный способ получить правильное представление о профессии.
      </p>

      <p>
        Сегодня SkillsCub™ предлагает попробовать следующие профессии:
      </p>
      <ul class="list-divided">
        <li>Юрист</li>
        <li>Писатель</li>
        <li>Сценарист</li>
        <li>Организатор мероприятий (Event manager)</li>
        <li><i>В ближайшее время планируется добавить: дизайнер одежды, графический дизайнер, иллюстратор, редактор, переводчик и др.</i></li>
      </ul>

      <p>Каждый участник Симулятора профессий SkillsCub™ получит:</p>
      <ul class="list-divided">
        <li>актуальную информацию от практикующих специалистов;</li>
        <li>помощь в профессиональном самоопределении и выборе оптимального вида занятости;</li>
        <li>систему уникальных заданий, раскрывающих суть профессии;</li>
        <li>оценку своей работы и индивидуальные рекомендации по дальнейшему обучению;</li>
        <li>участие в специальной бесплатной программе <a class="decorated-link">SkillsCub.Бонус</a> для получения практического опыта в выбранной профессии.</li>
      </ul>

      <p>Система SkillsCub™ представляет собой набор взаимосвязанных модулей:</p>

      <p class="text-bold">I. Анкета</p>

      <p>
        Анкетирование необходимо для анализа Вашего личного и профессионального опыта, навыков и способностей. Это поможет определить, насколько Вам подходит выбранная профессия.
      </p>
      <p class="text-bold">
        II. Встреча
      </p>
      <p>
        На SkillsCub-встрече Вы узнаете о подводных камнях профессии, ее преимуществах и недостатках, о том, что отличает хорошего специалиста от плохого, и другие особенности, известные только опытным профессионалам. Вы сможете задать интересующие Вас вопросы и узнать правила выполнения практических заданий, критерии оценок и рекомендации.
      </p>
      <p class="text-bold">
        III. Система заданий
      </p>
      <p>
        В течение четырех недель Вы будете получать практические задания, направленные на полное погружение в профессию. После выполнения каждого из них Вы получите профессиональные комментарии курирующих специалистов. Все задания адаптированы под любой уровень подготовки и не требуют специфических знаний и умений.
      </p>
      <p class="text-bold">
        IV. Итоговые рекомендации
      </p>
      <p>
        После выполнения всех практических заданий Вам будет предоставлено экспертное заключение о Ваших способностях, анализ Ваших сильных и слабых сторон в данной профессии и рекомендации по дальнейшему обучению, а также сертификат о прохождении Симулятора профессий SkillsCub™.
      </p>
      <p>
        После успешного завершения SkillsCub™ мы предлагаем принять участие в программе SkillsCub.Бонус.
      </p>


    </mat-card-content>
  </mat-card>
</section>
