<section class="full-width_section_light">
  <mat-card class="card-big">
    <mat-card-header style=" ">
      <mat-card-title>
        Пользовательское соглашение
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="section-body contain-lg">
          <div class="row">
            <div class="col-xs-12">
              <div class="card card-printable style-default-light">

                <div class="card-body style-default-bright">
                  <div class="row">
                    <div class="col-xs-12 margin-bottom-xl">
                      <p>
                        Настоящее пользовательское соглашение (далее — Соглашение) определяет условия и порядок участия Пользователей в системе SkillsCub™ и является публичным предложением от Индивидуального предпринимателя Щуровской Виктории Францевны (далее – Правообладатель) к заключению Соглашения на изложенных ниже условиях. Подача заявки на участие в системе SkillsCub™, а именно заполнение и отправка формы на Интернет-сайте: <a class="decorated-link" href="https://skillscub.com">www.skillscub.com</a>, признается акцептом настоящего Соглашения, согласно ст. 408 Гражданского Кодекса Республики Беларусь, и означает безоговорочное принятие Пользователем всех условий Соглашения без каких-либо изъятий или ограничений на условиях присоединения. Участие в системе SkillsCub™ на иных условиях не допускается.
                      </p>
                      <p>
                        Перед подачей заявки на участие в системе SkillsCub™ (далее – Система) Пользователю надлежит ознакомиться с настоящим Соглашением. В случае несогласия с условиями Соглашения, в целом или какой-либо их части, Пользователю надлежит воздержаться от подачи заявки на участие в Системе.
                      </p>
                      <p>
                        Все последующие изменения и/или дополнения к Соглашению, которые могут быть произведены Правообладателем в одностороннем порядке, без какого-либо специального уведомления Пользователя, размещаются на Интернет-сайте: <a class="decorated-link" href="https://skillscub.com">www.skillscub.com</a>, если иное не предусмотрено новой редакцией Соглашения.
                      </p>
                    </div>
                    <div class="col-xs-12 margin-bottom-xl">
                      <h3>1. ТЕРМИНЫ И ОПРЕДЕЛЕНИЯ</h3>
                      <ul>
                        <li>Пользователь – физическое лицо, совершившее акцепт настоящего Соглашения;</li>
                        <li>Правообладатель – индивидуальный предприниматель Щуровская Виктория Францевна (св-во о регистрации №0620051 от 11 июля 2016 года, УНП 192675581);</li>
                        <li>Акцепт — полное и безоговорочное принятие Пользователем условий Соглашения;</li>
                        <li>Стороны(а) – Пользователь и(или) Правообладатель;</li>
                        <li>Система SkillsCub™ — система оказываемых услуг и проводимых мероприятий по профориентации при выборе учебной специальности.</li>
                      </ul>
                    </div>
                    <div class="col-xs-12 margin-bottom-xl">
                      <h3>
                        2. ПРЕДМЕТ СОГЛАШЕНИЯ
                      </h3>
                      <p>
                        SkillsCub™ представляет собой систему оказываемых услуг, которая позволяет Пользователю определить наиболее подходящую для него профессию или учебную специальность. Система не гарантирует трудоустройство Пользователей. Услуги, входящие в систему, оказываются в соответствии с условиями настоящего Соглашения, а также заключаемого с каждым отдельным Пользователем договора оказания услуг и оплачиваются по тарифам, установленным Правообладателем.
                      </p>
                    </div>
                    <div class="col-xs-12 margin-bottom-xl">
                      <h3>
                        3. ПРАВА И ОБЯЗАННОСТИ ПОЛЬЗОВАТЕЛЯ
                      </h3>
                      <ul>
                        <li>Для участия в Системе Пользователь должен подать заявку через Интернет-сайт <a class="decorated-link" href="https://skillscub.com">www.skillscub.com</a>. При подаче заявки Пользователь обязан заполнить все поля формы для заявок и указать достоверные актуальные данные.</li>
                        <li>Допуск ко всем модулям системы SkillsCub предоставляется только после оплаты;</li>
                        <li>В случае неявки на SkillsCub-встречу за Пользователем сохраняется право продолжить курс в следующем месяце. При отсутствии возможности продолжить курс Пользователь имеет право обратиться к администратору и написать заявление о возврате уплаченных денежных средств в соответствии с пунктом 6 Пользовательского соглашения;</li>
                        <li>Договор оказания услуг заключается только при предоставлении действительных паспортных данных Пользователя;</li>
                        <li>Пользователь не имеет права создавать программные или справочно-информационные продукты и/или сервисы с использованием включаемых в состав Системы текстовых, справочно-информационных, видео- и других материалов;</li>
                        <li>Пользователь не имеет права копировать, воспроизводить, перерабатывать, распространять, размещать в свободном доступе (опубликование) в сети Интернет, использовать в средствах массовой информации и/или коммерческих целях материалы, полученные в рамках участия в системе SkillsCub, за исключением случаев, прямо предусмотренных Соглашением;</li>
                        <li>Пользователь не имеет права разглашать информацию, касающиеся заключаемого договора оказания услуг, без предварительного письменного согласия другой стороны, в течение неограниченного срока, за исключением информации о самом факте заключения договора и наименований сторон.</li>
                      </ul>
                    </div>
                    <div class="col-xs-12 margin-bottom-xl">
                      <h3>4. ПРАВА И ОБЯЗАННОСТИ ПРАВООБЛАДАТЕЛЯ</h3>
                      <ul>
                        <li>Правообладатель обязуется своевременно, качественно оказать услуги, указанные в п.2.1.;</li>
                        <li>Правообладатель обязуется не использовать личные данные Пользователя в целях, не связанных с оказанием услуг в соответствии с п.2.1.</li>
                        <li>Курс организовывается для групп от 1 до 10 человек.</li>
                      </ul>

                    </div>
                    <div class="col-xs-12 margin-bottom-xl">
                      <h3>
                        5. ОТВЕТСТВЕННОСТЬ СТОРОН
                      </h3>
                      <p>
                        За нарушение условий Соглашения Стороны несут ответственность согласно действующему законодательству Республики Беларусь.
                      </p>
                    </div>
                    <div class="col-xs-12 margin-bottom-xl">
                      <h3>6. ПОЛОЖЕНИЯ ОБ ОПЛАТЕ</h3>
                      <ul>
                        <li>За оказание услуг, указанных в п.2.1., взымается 100% предоплата по тарифам, установленным Правообладателем;</li>
                        <li>Перечисление оплаты за услуги производится через систему расчетов ЕРИП;</li>
                        <li>При отказе Пользователя от услуг, возврат уплаченных денежных средств, производится по письменному заявлению Пользователя путем перечисления безналичных денежных средств на банковский счет Пользователя, за вычетом стоимости оказанных к моменту отказа услуг, а также комиссии банка и платежных систем за перечисление денежных средств в размере 5% от возвращаемой суммы;</li>
                        <li>Новым пользователям Системы можно подать заявку только на одну профессию. В этом случае выбирается тариф «Профессия №1». Тариф оплачивается полностью в сроки, установленные Правообладателем.</li>
                        <li>При выборе второй и последующих профессий используется тариф «Профессия №2+». В этом случае, не нужно повторно заполнять анкету. Тариф оплачивается полностью в сроки, установленные Правообладателем.</li>
                        <li>
                          Тарифы, установленные Правообладателем, за услуги, оказываемые в рамках Системы:
                          <br>
                          <br>

                          <p>
                            <b>Тариф «Профессия №1»</b> — 50 (пятьдесят) белорусских рублей, включает в себя:
                          </p>
                          <ul>
                            <li>анкетирование – определение индивидуальных профессиональных качеств Пользователя – 5 (пять) белорусских рублей (анкета высылается в течение суток после получения уведомления об оплате);</li>
                            <li> консультация 1 (один) час об особенностях одной профессии и порядке выполнения заданий – 15 (пятнадцать) белорусских рублей (проводится в течение последней недели календарного месяца предшествующего месяцу проведения основного курса);</li>
                            <li>основной курс – 4 недели – 4 задания + 1 возможный форс-мажор – погружение в профессию, выполнение заданий, обратная связь, рекомендации по окончании курса — 30 (тридцать) белорусских рублей.</li>
                          </ul>
                          <br>
                          <p>
                            <b>Тариф «Профессия №2+»</b> — 35 (тридцать пять) белорусских рублей, включает консультацию и основной курс.
                          </p>
                        </li>
                      </ul>

                    </div>
                    <div class="col-xs-12">
                      <h3>7. ИНЫЕ ПОЛОЖЕНИЯ</h3>
                      <ul>
                        <li>Получение заявки от Пользователя подтверждает, что Пользователь ознакомился и принимает настоящее Соглашение;</li>
                        <li>Споры между Пользователем и Правообладателем, относительно оказания услуг, указанных в п.2. «Предмет соглашения», разрешаются посредством переговоров. В случае недостижения согласия между сторонами, спор передается на разрешение суда по месту нахождения Правообладателя.</li>
                      </ul>
                    </div>
                  </div>
                </div><!--end .card-body -->
              </div>
            </div>
          </div>
        </div>

    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-fab color="accent">
        <mat-icon class="mat-18">print</mat-icon>

      </button>
    </mat-card-actions>
  </mat-card>
</section>
