<mat-toolbar color="primary" >
  <div class="brand-holder"
     routerLink="">
    <img src="../assets/img/logo.png" alt="">
    <span>Skillscub</span>
  </div>
  <button aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
    <mat-icon class="sidebar-icon" aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  <span class="spacer"></span>
  <app-header-profile [user]="user"></app-header-profile>
</mat-toolbar>
<mat-sidenav-container class="sidebar">
  <mat-sidenav #drawer
               [attr.role]="isHandset ? 'dialog' : 'navigation'"
               [mode]="(isHandset | async)!.matches ? 'over' : 'side'"
               [opened]="!(isHandset | async)!.matches"
               style="background-color: #2b323a;">
    <mat-nav-list class="navlist" *ngFor="let link of links">
      <a mat-list-item [routerLink]='link.path' routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }"><mat-icon>{{link.icon}}</mat-icon> {{link.text}}</a>
      <!--<a mat-list-item routerLink='/about'>About</a>-->
    </mat-nav-list>
    <div class="info">
      <mat-divider></mat-divider>
      <small >
        <span>© ИП Виктория Щуровская</span>
      </small>
      <small >
        <span>SkillsCub, 2017.</span>
      </small>
      <small>
          <span>Свидетельство о гос. регистрации</span>
      </small>
      <small >
        <span> №0620051 от 11.07.2016 </span>
      </small>
      <small >
        <span>УНП 192675581</span>

      </small>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
