.spacer{
  flex-grow: 1;
}


.brand-holder{
  display: table-cell;
  vertical-align: middle;
  color: #2196f3;
  padding: 12px;
}
.brand-holder img{
  height: 40px;
}

.brand-holder span{
  vertical-align: sub;
  font-weight: 700;
}

.sidebar{
  height: calc(100% - 64px);
  margin-right: 10px;
}

.navlist{
  width: 240px;
  background-color: #2b323a;
  color: rgba(255, 255, 255, 0.55);
}

.mat-list-item{
  color: inherit;
}
