.spacer{
  flex-grow: 1;
}


.brand-holder{
  display: flex;
  //vertical-align: middle;
  margin: auto;
  color: #2196f3;
  padding: 8px;
  cursor: pointer;
  img{
    height: 50px;
  }
  span{
    margin: auto; /* Important */
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
    font-size: 1.2rem;
  }
  @media screen and (max-width: 420px) {
    span{
      display: none;
    }
    img{
      height: 40px;
    }
  }
}



.navlist{
  width: 240px;
  background-color: #2b323a;
  color: rgba(255, 255, 255, 0.55);
  mat-icon{
    margin-right: 1rem;
  }
  .active-link{
    color: rgba(255, 255, 255, 0.95);
    mat-icon{
      color: #2196f3;
    }
  }
}

.mat-list-item{
  color: inherit;
}
