
<section class="full-width_section_header">
  <div class="title">
    SkillsCub
  </div>
  <div class="content">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu metus volutpat, congue magna at, interdum enim.
    Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vivamus feugiat facilisis
    ipsum, sed blandit velit. Mauris eu lobortis lorem. Vivamus varius eu magna a ullamcorper. Aenean sed turpis purus.
    Curabitur in diam quam. Sed at libero magna. Maecenas pharetra ornare diam, vitae interdum eros mollis in.

    <div class="action">
      <button  mat-raised-button>Подать заявку</button>
    </div>
  </div>
</section>
<section class="full-width_section_light">
  <mat-card class="card">
    <mat-card-header style=" ">
      <mat-card-title>Не знаете с чего начать?</mat-card-title>
      <mat-card-subtitle>Subtitle</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      Пройдите экспресс тест и узнайте, какие профессии вам подходят!
    </mat-card-content>
    <mat-card-actions align="between">
      <button mat-button >Подать заявку</button>

    </mat-card-actions>
  </mat-card>
</section>
<section class="full-width_section_dark">

    <div class="title">
      Наши гарантии
    </div>
    <div class="content">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu metus volutpat, congue magna at, interdum enim.
      Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vivamus feugiat facilisis
      ipsum, sed blandit velit. Mauris eu lobortis lorem. Vivamus varius eu magna a ullamcorper. Aenean sed turpis purus.
      Curabitur in diam quam. Sed at libero magna. Maecenas pharetra ornare diam, vitae interdum eros mollis in.

      <div class="action">
        <button  mat-raised-button>Лицензионное соглашение</button>
      </div>
    </div>

</section>
<mat-card class="card">
  <mat-card-header>
    <mat-card-title> Почему мы? </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    Только с нами вы можете попробовать профессию и нарабатывать своё портфолио!
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-button >Подать заявку</button>

  </mat-card-actions>
  <mat-card-footer>
    Footer
  </mat-card-footer>
</mat-card>


